.main-window {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.5);
    width: 100%;
    height: 100%;
    z-index: 3;

    >.display-window {
        position: fixed;
        top: 7vh;
        left: 10vw;
        height: 86vh;
        width: 80vw;
        border-radius: 20px;
        overflow: hidden;
        background-color: white;
        display: flex;

        &::before {
            background-color: rgba(0, 0, 0, 0.7);
        }

        >.detail-window {
            width: 30%;
            background-color: rgb(48, 48, 48);

            >.details-section {
                padding: 1rem 3rem;
                color: rgb(36, 36, 36);
                display: flex;
                flex-direction: column;
                >.detail-description{
                    color: white;
                    font-size: 1.1rem;
                    margin: 0 1rem;
                }
                >.size-display{
                    align-self: flex-end;
                }
                >div{
                    display: flex;
                    justify-content: space-between;
                    margin: 0.8rem 2rem;
                    >span{
                        display: flex;
                        align-items: center;
                        font-size: 1.4rem;
                        font-weight: 600;
                        color: white;
                        >svg{
                            font-size: 2rem;
                            margin: 0 0.3rem;
                            color: white;
                        }
                    }
                }

                >h1 {
                    padding: 2rem 1rem 0 1rem;
                    color: white;
                    font-size: 3rem;
                    word-spacing: 0.1px;
                    font-weight: 900;
                }

                >h2 {
                    padding: 0.5rem 0.9rem;
                    font-weight: 600;
                    font-size: 1.8rem;
                    color: white;
                    word-wrap: break-word;
                }

                >h3{
                    padding: 0.5rem 0.9rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: rgb(255, 93, 93);
                    word-wrap: break-word;
                }
            }

            >.exit-button {
                display: flex;
                justify-content: flex-start;
                
                >span {
                    padding: 0.7rem 1.1rem;
                    color: white;
                    font-size: 1.4rem;
                    cursor: pointer;
                }
            }
        }

        >.image-window {
            width: 70%;
            background-color: black;
            height: 100%;
            display: flex;
            align-items: center;

            >img {
                display: block;
                width: 100%;
                height: auto;
            }

            >.change-button {
                position: absolute;
                height: 100%;
                width: 4vw;
                font-size: 3rem;
                padding: 0.5vw;
                color: transparent;
                cursor: pointer;
                transition: 0.5s;
                border: none;
                background-color: transparent;

                &:hover {
                    color: white;
                    background-color: #80808066;
                }

                &:last-child {
                    right: 0%;
                }
            }

        }
    }
}