.card{
    margin: 3vh 0;
    padding: 5vh 1vw;
    width: 11vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    contain: content;
    background-color: rgb(160, 160, 160);
    >img{
        width: 6vw;
        height: 12vh;
        transform: scale(1.9);
    }
    >h2{
        margin: 3vh 0;
        font-size: 2.5vh;
    }
    >a{
        background-color: transparent;
        color: black;
        text-decoration: none;
        background-color: rgb(190, 190, 190);
        font-size: 2.5vh;
        font-weight: 500;
        padding: 5px 1vw;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        transition: 0.5s;
        &:active{
            background-color: rgb(124, 124, 124);
        }
    }
}

/////////////////////////MEDIA QUERIES///////////////////////////////

@media(max-width:920px){
    .card{
        width: 75%;
        margin: 3vh auto;
    }
}