@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Poppins', sans-serif;

}

.black-above-img::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.3);
}


.loader {
    border: 12px solid rgba(0, 0, 0, 0.1); /* Border style for the loader */
    border-top: 12px solid #000; /* Top border color for the spinning effect */
    border-radius: 50%; /* Makes the loader round */
    width: 150px; /* Width of the loader */
    height: 150px; /* Height of the loader */
    animation: spin 1s linear infinite; /* Animation for the spinning effect */
    margin: 50px auto; /* Adjust the margin for positioning */
  }
  
  /* Keyframes for the spinning animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Start position for the spinning */
    }
    100% {
      transform: rotate(360deg); /* End position for the spinning */
    }
  }
  